@import url('https://fonts.googleapis.com/css?family=Heebo');

body {
  margin: 0;
  background: #FAFAFA;
  font-family: 'Heebo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
